h1, h3 {
  font-weight: bold;
  margin-bottom: 20px;
}

.content {
  background-color: grey;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.content a {
  color: black;
}


/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
  }

.ddmenu {
  background-color: gainsboro;
  color: black;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar {
  background-color: black;
}
/*
a.special {
 color: white;
}*/

.navbar-brand {
  font-size: 125%;
  font-weight: bold;
}

/* unvisited link */
#nbheader a:link {
   color: silver;
}

/* visited link */
#nbheader a:visited {
   color: silver;
}

/* mouse over link */
#nbheader a:hover {
   color: lightgrey;
}

/* selected link */
#nbheader a:active {
   color: whitesmoke;
}
Contact GitHub API Training Shop Blog About
© 2016 GitHub, Inc. Terms Privacy Sec