body {
  font-size: 16px;
  color: #000;
  background-color: #ffffff;
}

/** HEADER **/
#header-nav {
  background-color: #545454;
  border-radius: 0;
  border: 0;
  padding-bottom: 13px;
}
/*FOOD*/
.navbar-brand {
  padding-top: 25px;
  padding-bottom: 25px;
}
.navbar-brand h1 { 
  color: #ffffff;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px 2px #000;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
/*END SITE NAME*/

#nav-list {
  margin-top: 10px;
}

/*NAV BAR COLLAPSE BUTTON ITEMS*/
#nav-list a {
  color: #ffffff;
  text-align: center;
  text-shadow: 2px 2px 2px #000;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
/*END NAV BAR COLLAPSE BUTTON ITEMS*/

/*NAV BAR COLLAPSE BUTTON*/
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1.2px solid #ffffff;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

/*END NAV BAR COLLAPSE BUTTON*/

/* END HEADER */

/* HOME PAGE */
#main-content-title{
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 2px #939393;
  margin-bottom: 25px;
}

#chicken-content{
  background-color: #939393;
  border: 1px solid black;
  position: relative;
  color: white;
  padding: 25px;
  padding-top: 60px;
  margin-bottom: 50px;
}

#chicken{
  margin-top: -40PX;
  margin-bottom: 10px;
  font-size: 1.5em;
  text-shadow: 2px 2px 2px #000000; 
  font-style: italic;
  text-align: center;
}
/* END HOME PAGE */

/********** Large devices only **********/
@media (min-width: 1200px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 {
    padding-top: 10px;
    font-size: 4.5vw; /* 1vw = 1% of viewport width */
  }
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  /* End Header */
}


/********** Super extra small devices **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 {
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
}
